Package: com.82flex.iconrestore
Name: Icon Restore
Version: 1.0
Architecture: iphoneos-arm
Description: Save and restore the layout of your icons.
Maintainer: Lessica <82flex@gmail.com>
Author: Lessica <82flex@gmail.com>
Section: Tweaks
Depends: firmware (>= 15.0), mobilesubstrate
